body {
    font-family: roboto, sans-serif;
}

.navbar {
    background-color: #62c25f;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #62c25f;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #f1fcf1;
    margin-bottom: 8px;
}

.section-title {
    font-family: Pacifico, cursive;
}

#sobre-o-mercado,
#produtos {
    background-color: #f1fcf1;
}

.text-colored {
    color: #62c25f;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #62c25f;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #62c25f;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}